* {
  backface-visibility: hidden;
}

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;

  @media (--isXXSmall) {
    font-size: 56.3%;
  }
  @media (--isSmall) {
    font-size: 75%;
  }
  @media (--isMedium) {
    font-size: 87.5%;
  }
  @media (--isLargeS) {
    font-size: 43.8%;
  }
  @media (--isLargeM) {
    font-size: 50%;
  }
  @media (--isLargeL) {
    font-size: 56.3%;
  }
}

body {
  color: $base-color;
  background-color: $base-bgColor;
  font-family: $font-ja;
  font-size: 1.6em;
  line-height: $base-line-height;
  font-kerning: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;

  @media (--isRetina) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/**
 * Fluid images.
 */

 img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/**
* Non-fluid images if you specify `width` and/or `height` attributes.
*/

img[width],
img[height] {
  max-width: none;
}

/**
 * Images in `figure` elements.
 */

figure > img {
  display: block;
}

table {
  width: 100%;
}

[src$=".svg"],
[data$=".svg"] {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  // letter-spacing: letterSpacing(base);
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

canvas {
  display: block;
}

::-moz-selection{
  background-color: color(dark);
  color:#fff
}
::selection{
  background-color:color(dark);
  color:#fff
}

body, html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

#__layout, #__nuxt {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

