$border-directions = {
  //null: '',
  '-top': '-t',
  '-right': '-r',
  '-bottom': '-b',
  '-left': '-l',
};

for $direction, $dir in $border-directions
  .u-bd{$dir}-0
    border{$direction}-width: 0 !important

  @media (--sp)
    .u-bd{$dir}-0\@sp
      border{$direction}-width: 0 !important

  @media (--pc)
    .u-{$width}-0\@pc
      border{$direction}-width: 0 !important


