/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-mt {}
 *   .u-pl-lg {}
 *   .u-mr-sm {}
 *   .u-p {}
 *   .u-pr-0 {}
 */

$spacing-directions = {
  '' : '',
  '-top': 't',
  '-right': 'r',
  '-bottom': 'b',
  '-left': 'l',
};

$spacing-properties = {
  'padding': 'p',
  'margin': 'm'
};

$spacing-sizes ?= {
  '' : 1em,
  '-0': 0,
  '-xxs': 0.146em,
  '-xs': 0.236em,
  '-sm': 0.618em,
  '-lg': 1.618em,
  '-xl': 4.236em,
  '-xxl': 6.854em,
};

for $property, $prop in $spacing-properties
  for $direction, $dir in $spacing-directions
    for $size, $value in $spacing-sizes
      .u-{$prop}{$dir}{$size}
        {$property}{$direction}: $value !important

      @media (--sp)
        .u-{$prop}{$dir}{$size}\@sp
          {$property}{$direction}: $value !important

      @media (--pc)
        .u-{$prop}{$dir}{$size}\@pc
          {$property}{$direction}: $value !important

.u-m-a {
  margin: auto !important
}

