/**
* check out media queries ranges for a better syntax

* 20em: 320px
* 30em: 480px
* 35.5em: 568px
* 37.5em: 600px
* 48em: 768px
* 56.25em: 900px
* 60em: 960px
* 64em: 1024px
* 75em: 1200px
* 80em: 1280px
* 85.375em: 1366px
* 90em: 1440px
* 100em: 1600px
*
*/

@custom-media --sp (width < 60em);
@custom-media --pc (width >\= 60em);

@custom-media --isXXSmall (width <\= 20em);
@custom-media --isXSmall (width > 20em) \and (width < 30em);
@custom-media --isSmall (width >\= 30em) \and (width < 48em);
@custom-media --isMedium (width >\= 48em) \and (width < 60em);
@custom-media --isLargeS (width >\= 60em) \and (width < 64em);
@custom-media --isLargeM (width >\= 64em) \and (width < 80em);
@custom-media --isLargeL (width >\= 80em) \and (width <\= 85.375em);
@custom-media --isXLarge (width > 85.375em) \and (width <\= 100em);
@custom-media --isXXLarge (width > 100em);

@custom-media --isRetina only screen \and (min-resolution: 1.5dppx);

