.l-nav
  position fixed
  top 0
  left 0
  z-index 99999
  font-size 2rem
  width 5.6em
  height 5.6em

  @media (--sp)
    width 3.2em
    height 3.2em
    top auto
    bottom 0
    left 0
    margin-top 0
