.icon {
	display: inline-block;
  vertical-align: middle;
  position: relative;
	top: -0.1em;
  width: 1em;
  height: 1em;
  fill: currentColor;

  &--sizeS {
    width: .77em;
    height: .77em;
  }

  &--sizeL {
    width: 1.33em;
    height: 1.33em;
  }

  &--2x {
    width: 2em;
    height: 2em;
  }

  &--3x {
    width: 3em;
    height: 3em;
  }

  &--4x {
    width: 4em;
    height: 4em;
  }

  &--5x {
    width: 5em;
    height: 5em;
  }
}
